
// Body
$body-background-color: whitesmoke;

// NAVBAR
$navbar-item-hover-color: #662d91;
$navbar-tab-hover-border-bottom-color: #662d91;
$navbar-dropdown-arrow: #662d91;
$menu-item-active-background-color: #662d91;
// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
